body {
    background-color: peachpuff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    background: white;
    height: 680px;
    width: 280px;
    margin: auto;
    border-radius: 1px;
    border-color: lightblue;
    display: flex;
}

.card-image {
    background-color: aqua;
    height: 800px;
    margin-bottom: 10px;
    background-size: cover;
    align-items: center;
}

.car-1 {
    background-image: url(./headphone.jpg);
}

.chair-1 {
    background-image: url(./chair.jpg);
}

.icecream-1 {
    background-image: url(./icecream.jpg);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-title {
    text-align: center;
}

#demobox {
    background-color: darkgray;
    padding: 10px;
    color: yellow;
}